Babel==2.6.0
certifi==2019.3.9
chardet==3.0.4
Django==2.1.8
django-iban-field==0.8
django-phonenumber-field==2.4.0
django-rest-auth==0.9.5
django-rest-multiple-models==2.1.3
django-sequences==2.2
django-twilio==0.10.0
djangorestframework==3.9.4
idna==2.8
phonenumbers==8.10.12
PyJWT==1.7.1
PySocks==1.7.0
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
twilio==6.27.0
urllib3==1.25.2
